 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Orbitron';
 }

 body,
 html {
     height: 100%;
     background: linear-gradient(180deg, #0d0d1a, #000);
     overflow-x: hidden;
 }

 .header {
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     position: relative;
 }

 .header h1 {
     font-size: clamp(1.65em, 3.5vw, 3.5em);
     letter-spacing: clamp(0.1em, 0.2vw, 0.2em);
     animation: glowblue 3s infinite alternate;
     font-family: OCR A Std, monospace;
     font-weight: bolder;
     color: #1997c2;
 }

 .header h2 {
     font-size: clamp(3.3em, 7vw, 8em);
     margin-top: 1px;
     opacity: 0.8;
     white-space: nowrap;
     color: #ffffff;
     font-family: OCR A Std, monospace;
     animation: glowblue 3s infinite alternate;
     margin-bottom: 0px;
 }

 .header p {
     margin-left: clamp(2rem, 12vw, 14rem);
     margin-right: clamp(2rem, 12vw, 14rem);
 }

 #reveal-text {
     opacity: 0;
     transition: opacity 1s ease, transform 1s ease;
     transform: translateY(20px);
     font-family: 'Orbitron';
     color: #ffffff;
     white-space: pre-wrap;
     word-wrap: break-word;
     font-size: clamp(0.8em, 2vw, 1em);
     margin-top: 5px;
     justify-content: center;
     align-self: center;
 }

 @keyframes glowblue {
     from {
         text-shadow:
             0 0 0.1em #1e8fffaa,
             0 0 0.2em #1e8fff88;
     }

     to {
         text-shadow:
             0 0 0.3em #1998c2e6,
             0 0 0.6em #1998c2cc;
     }
 }

 @keyframes glowwhite {
     from {
         text-shadow:
             0 0 0.1em #ffffffa3,
             0 0 0.2em #ffffff80;
     }

     to {
         text-shadow:
             0 0 0.25em #ffffffaa,
             0 0 0.5em #ffffff85;
     }
 }

 .btn {
     margin-top: 30px;
     padding: clamp(10px, 2vw, 15px) clamp(20px, 4vw, 30px);
     background-color: transparent;
     color: #fff;
     border: 2px solid #00bfff;
     font-size: 1em;
     cursor: pointer;
     transition: all 0.4s ease;
     border-radius: 30px;
     font-size: clamp(1.5em, 2vw, 2em);
     width: clamp(50%, 70%, 300p x);
 }

 .btn:hover,
 .btn:active,
 .top-button:hover {
     background-color: #00bfff;
     color: #000;
     box-shadow: 0 0 20px #00bfff;
 }

 .btn:active,
 #reveal-button.show:active {
     transform: translateY(2rem);
 }

 #reveal-button {
     opacity: 0;
     transform: translateY(20px);
     transition: opacity 0.8s ease, transform 0.8s ease;
     pointer-events: none;
     padding: clamp(10px, 2vw, 15px) clamp(20px, 4vw, 30px);
     font-size: clamp(1.5em, 2vw, 2em);
 }

 #reveal-button.show,
 #reveal-text.show,
 .top-button.show {
     opacity: 1;
     transform: translateY(0);
     pointer-events: auto;
 }

 .particle {
     position: absolute;
     font-size: 1.2em;
     color: #2c5563;
     opacity: 0.8;
     animation: floatUp linear infinite;
     font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
     white-space: nowrap;
     z-index: -1;
 }

 @keyframes floatUp {
     from {
         transform: translateY(100vh);
         opacity: 0;
     }

     to {
         transform: translateY(-10vh);
         opacity: 1;
     }
 }

 .fish {
     position: absolute;
     font-size: 1.5em;
     white-space: nowrap;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
     white-space: nowrap;
 }

 @keyframes swimRight {
     from {
         left: -200px;
     }

     to {
         left: 110%;
     }
 }

 @keyframes swimLeft {
     from {
         left: 110%;
         transform: scaleX(-1);
     }

     to {
         left: -200px;
         transform: scaleX(-1);
     }
 }

 section {
     height: 100%;
     background-color: transparent;
     color: #fff;
     opacity: 0;
     transform: translateY(20px);
     transition: opacity 1s ease-out, transform 1s ease-out;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

 .fish-container,
 .particles {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     z-index: 0;
     pointer-events: none;
     overflow: hidden;
 }

 .header,
 section,
 .btn,
 .rsvp-content {
     position: relative;
     z-index: 2;
 }

 section.visible {
     opacity: 1;
     transform: translateY(0);
 }

 #typed-text {
     margin-top: 0px;
     font-size: clamp(1em, 2.5vw, 2.5em);
     animation: glowwhite 3s infinite alternate;
     margin-top: 1px;
     opacity: 0.8;
     letter-spacing: 5px;
     white-space: nowrap;
     color: white;
     font-family: 'Motion Control Neue Lite', sans-serif;
 }

 #cursor {
     display: inline-block;
     width: 8px;
     height: 0.8em;
     background-color: #ffffffb3;
     margin-left: 2px;
     margin-bottom: 5px;
     animation: blinkCursor 0.8s steps(2) infinite;
     vertical-align: bottom;
 }

 @keyframes blinkCursor {
     0% {
         opacity: 1;
     }

     50% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 section p {
     margin-top: 5px;
     margin-bottom: 5px;
 }

 #rsvp p {
     font-size: clamp(1em, 1.2vw, 2em);
 }

 section a {
     color: #ffffff;
 }

 #rsvp h2,
 #Programme h2,
 #details h2 {
     font-size: clamp(1.6em, 3vw, 3em);
     margin-bottom: 10px;
     font-family: OCR A Std, monospace;
     animation: glowwhite 3s infinite alternate;
     white-space: nowrap;
 }

 #rsvp,
 #Programme,
 #details,
 #timer {
     margin-left: 6vw;
     margin-right: 6vw;
 }

 section a:hover {
     color: #00bfff;
 }

 #smaller-text {
     font-size: clamp(0.8em, 1vw, 1em);
     color: #ffffff91;
     white-space: wrap;
 }

 .details-grid {
     font-size: clamp(0.8em, 1.2vw, 1.2em);
     display: grid;
     grid-template-columns: 1fr 2fr;
     gap: 5px 15px;
     align-items: start;
     margin-bottom: 20px;
     max-width: 600px;
     margin-left: auto;
     margin-right: auto;
     text-align: left;
     white-space: nowrap;
     left: 50%;
     transform: translateX(5%);
 }

 .prog-grid {
     left: 50%;
     transform: translateX(5%);
     font-size: clamp(0.8em, 1.2vw, 1.2em);
     display: grid;
     margin: 0 auto;
     gap: 5px 30px;
     grid-template-columns: 1fr 1fr;
     margin-left: auto;
     margin-right: auto;
     text-align: left;
     white-space: nowrap;
     justify-items: center;
     max-width: 600px;
 }

 .details-labels p,
 .prog-labels p {
     font-weight: bold;
     margin: 5px 0;
     white-space: nowrap;
 }

 #countdown-container {
     text-align: center;
     margin-bottom: 20px;
 }

 #countdown {
     font-family: OCR A Std, monospace;
     font-weight: bold;
     font-size: clamp(1.6em, 6vw, 7em);
     color: #00bfff;
     animation: glowblue 3s infinite alternate;
     display: inline-block;
     padding: 10px 20px;
     border-radius: 10px;
     white-space: nowrap;
 }

 #fun {
     color: #ffffff;
     font-size: clamp(0.8em, 3vw, 3em);
     animation: glowwhite 3s infinite alternate;
 }

 .menu-container {
     position: fixed;
     top: 0;
     left: 50%;
     transform: translateX(-50%);
     display: flex;
     align-items: center;
     z-index: 1000;
     padding: 10px;
     width: 100%;
     height: 12%;
     transition: all 0.7s ease;
 }

 .menu-container.show {
     background-color: #000;
     background: linear-gradient(180deg, #00000089, #ffffff00);
 }

 .menu-button {
     position: absolute;
     left: 50%;
     top: 10px;
     transform: translateX(-50%);
     opacity: 0;
     background-color: transparent;
     border: none;
     color: #1997c2;
     padding: clamp(4px, 1vw, 8px) clamp(8px, 2vw, 16px);
     font-size: clamp(1em, 1.2vw, 1.5em);
     white-space: nowrap;
     margin: 0;
     transition: all 0.3s ease;
 }

 .menu-button.show {
     opacity: 1;
     transition: transform 0.5s ease, opacity 0.5s ease;
     pointer-events: all;
 }

 /* #button-2.show {
     transform: translateX(clamp(-60vw, -38vw, -45vw));
 }

 #button-3.show {
     transform: translateX(clamp(11vw, 18vw, 15vw));
 }

 #button-4.show {
     transform: translateX(clamp(-30vw, -20vw, -25vw));
 }

 #button-5.show {
     transform: translateX(clamp(20vw, 35vw, 50vw));
 } */

 #button-5.show {
     transform: translateX(clamp(10vw, 20vw, 25vw));
     /* transform: translateX(25vw) */

 }

 #button-2.show {
     transform: translateX(clamp(-30vw, -35vw, -40vw));
 }

 @media (max-width: 768px) {

     .details-grid,
     .prog-grid {
         font-size: clamp(0.6em, 0.8vw, 1em);
     }

     #rsvp p {
         font-size: clamp(0.8em, 1vw, 1em);
     }

     .btn,
     #reveal-button {
         font-size: clamp(0.8em, 1vw, 1em);
     }

     .menu-button, #navigate-to {
         font-size: clamp(0.7em, 0.9vw, 1.1em);
     }

     .header h2 {
         font-size: clamp(2.4em, 2.8vw, 3em);
     }

     .header h1 {
         font-size: clamp(1.2em, 1.4vw, 1.6em);
     }

     .header h3 {
         font-size: clamp(0.8em, 1vw, 1.2em);
     }

     /* #button-2.show {
        transform: translateX(clamp(-48vw, -52vw, -54vw));
    }

     #button-3.show {
         transform: translateX(clamp(7vw, 9vw, 12vw));
     }

     #button-4.show {
         transform: translateX(clamp(-29vw, -28vw, -30vw));
     }

     #button-5.show {
         transform: translateX(clamp(24vw, 29vw, 32vw));
     } */


     #button-5.show {
         transform: translateX(clamp(10vw, 20vw, 25vw));
     }

     #button-2.show {
         transform: translateX(clamp(-35vw, -40vw, -45vw));
     }
 }

 .top-button {
    position: fixed;
    bottom: clamp(10px, 5%, 20px);
    right: clamp(10px, 5%, 20px);
    width: clamp(30px, 5vw, 50px);  /* Ensuring a square shape */
    height: clamp(30px, 5vw, 50px); /* Ensuring a square shape */
    z-index: 1009;
    background-color: transparent;
    color: #fff;
    border: 2px solid #00bfff;
    transition: all 0.4s ease;
    border-radius: 50%;  /* This ensures the button stays round */
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

 #navigate-to {
     position: absolute;
     top: 10px;
     left: 50%;
     transform: translateX(-50%);
     z-index: 1009;
     background-color: transparent;
     color: white;
     border: none;
     cursor: pointer;
     padding: clamp(4px, 1vw, 8px) clamp(8px, 2vw, 16px);
     width: clamp(50%, 70%, 300p x);
 }

 #navigate-to:hover {
     text-shadow: 0 0 0.25em #ffffffaa, 0 0 0.5em #ffffff85;
 }

 .menu-button:hover,
 .menu-button.show.highlight {
     text-shadow: 0 0 0.25em #1998c2e6, 0 0 0.5em #1998c2cc;
     color: #1997c2;
 }

 @media (max-width: 768px) {
     .menu-button:hover {
         text-shadow: none;
     }
 }