 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Orbitron';
 }

 body,
 html {
     height: 100%;
     background: linear-gradient(180deg, #0d0d1a, #000);
     overflow-x: hidden;
 }

 .header {
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     position: relative;
 }

 .header h1 {
     font-size: clamp(1.7em, 3.5vw, 3.5em);
     letter-spacing: clamp(0.1em, 0.2vw, 0.2em);
     animation: glowblue 3s infinite alternate;
     font-family: OCR A Std, monospace;
     font-weight: bolder;
     color: #1997c2;
 }

 .header h2 {
     font-size: clamp(3.35em, 7vw, 8em);
     margin-top: 1px;
     opacity: 0.8;
     white-space: nowrap;
     color: #ffffff;
     font-family: OCR A Std, monospace;
     animation: glowblue 3s infinite alternate;
     margin-bottom: 0px;
 }

 .header h3 {
     margin-top: 0px;
     font-size: clamp(1.5em, 2.5vw, 2.5em);
     animation: glowwhite 3s infinite alternate;
     margin-top: 1px;
     opacity: 0.8;
     letter-spacing: 5px;
     white-space: nowrap;
     color: white;
     font-family: 'Motion Control Neue Lite', sans-serif;

 }

 .header p {
     margin-top: 20px;
     margin-left: clamp(2rem, 12vw, 14rem);
     margin-right: clamp(2rem, 12vw, 14rem);
 }

@keyframes glowblue {
    from {
        text-shadow:
            0 0 0.1em #1e8fffaa,  /* Consistent soft glow */
            0 0 0.2em #1e8fff88;  /* Lighter outer glow */
    }
    to {
        text-shadow:
            0 0 0.3em #1998c2e6,  /* Stronger glow */
            0 0 0.6em #1998c2cc;  /* More prominent outer glow */
    }
}

@keyframes glowwhite {
    from {
        text-shadow:
            0 0 0.1em #ffffffa3,  /* Softer glow */
            0 0 0.2em #ffffff80;  /* Fainter outer glow */
    }
    to {
        text-shadow:
            0 0 0.25em #ffffffaa,  /* Brighter white glow */
            0 0 0.5em #ffffff85;   /* Stronger outer glow */
    }
}



 .btn {
     margin-top: 30px;
     padding: clamp(10px, 2vw, 15px) clamp(20px, 4vw, 30px);
     background-color: transparent;
     color: #fff;
     border: 2px solid #00bfff;
     font-size: 1em;
     cursor: pointer;
     transition: all 0.4s ease;
     border-radius: 30px;
     font-size: clamp(1.5em, 2vw, 2em);
     /* width: clamp(50%, 70%, 300p x); */

 }

 .btn:hover,
 .btn:active {
     background-color: #00bfff;
     color: #000;
     box-shadow: 0 0 20px #00bfff;
 }

 #reveal-button {
     opacity: 0;
     transform: translateY(20px);
     transition: opacity 0.8s ease, transform 0.8s ease;
     pointer-events: none;
     padding: clamp(10px, 2vw, 15px) clamp(20px, 4vw, 30px);
     font-size: clamp(1.5em, 2vw, 2em);


 }

 #reveal-button.show {
     opacity: 1;
     transform: translateY(0);
     pointer-events: auto;
 }

 .particles,
 .fish-container {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     overflow: hidden;
     pointer-events: none;
 }

 .particle {
     position: absolute;
     font-size: 1.2em;
     color: #2c5563;
     opacity: 0.8;
     animation: floatUp linear infinite;
     font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
     white-space: nowrap;
 }

 @keyframes floatUp {
     from {
         transform: translateY(100vh);
         opacity: 0;
     }

     to {
         transform: translateY(-10vh);
         opacity: 1;
     }
 }

 .fish {
     position: absolute;
     font-size: 1.5em;
     white-space: nowrap;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     font-family: 'Fira Code', 'Consolas', 'Courier New', monospace;
     white-space: nowrap;
 }

 @keyframes swimRight {
     from {
         left: -200px;
     }

     to {
         left: 110%;
     }
 }

 @keyframes swimLeft {
     from {
         left: 110%;
         transform: scaleX(-1);
     }

     to {
         left: -200px;
         transform: scaleX(-1);
     }
 }

 section {
     height: 100%;
     font-size: clamp(0.6em, 1.2vw, 1.2em);


     background-color: transparent;
     color: #fff;
     opacity: 0;
     transform: translateY(20px);
     transition: opacity 1s ease-out, transform 1s ease-out;

     display: flex;
     justify-content: center;
     flex-direction: column;

     align-items: center;
     text-align: center;
 }

 html {
     scroll-behavior: smooth;
 }

 .fish-container,
 .particles {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     z-index: -1;
     pointer-events: none;
     overflow: hidden;
 }

 .header,
 section,
 .btn,
 .rsvp-content {
     position: relative;
     z-index: 2;
 }


 section.visible {
     opacity: 1;
     transform: translateY(0);

 }

 #typed-text {
     /* font-family: 'Fira Code', 'Consolas', 'Courier New', monospace; */
     /* font-family: 'Motion Control Neue Lite', sans-serif; */
     /* font-family: 'Vipnagorgialla', sans-serif; */
     /* font-family: 'Espacio Cuadrado', sans-serif; */
     font-family: 'Orbitron';
     color: #ffffff;
     white-space: pre-wrap;
     word-wrap: break-word;

     font-size: clamp(0.8em, 2vw, 1em);
     margin-top: 5px;

     justify-content: center;
     align-self: center;
 }

 #cursor {
     display: inline-block;
     width: 8px;
     height: 0.8em;
     background-color: #ffffffb3;
     margin-left: 2px;
     margin-bottom: 5px;
     animation: blinkCursor 0.8s steps(2) infinite;
     vertical-align: bottom;
 }

 @keyframes blinkCursor {
     0% {
         opacity: 1;
     }

     50% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 section p {
     margin-top: 5px;
     margin-bottom: 5px;


 }

 #rsvp p {
    font-size: clamp(1.5em, 1.2vw, 2em);

 }

 section a {
     color: #ffffff;
 }

 section h2 {
     font-size: clamp(2.8em, 3vw, 3em);
     margin-bottom: 10px;
     font-family: OCR A Std, monospace;
     animation: glowwhite 3s infinite alternate;

 }

 section a:hover {
     color: #00bfff;
 }

 #smaller-text {
     font-size: clamp(0.8em, 1vw, 1em);
     color: #ffffff91
 }

 .details-grid {
     display: grid;
     grid-template-columns: 1fr 2fr;
     gap: 5px 15px;
     align-items: start;
     margin-bottom: 20px;
     max-width: 600px;
     margin-left: auto;
     margin-right: auto;
     text-align: left;
 }

 .details-labels p {
     font-size: clamp(0.8em, 2vw, 1em);

     font-weight: bold;
     margin: 5px 0;
 }

 #details {
     font-size: clamp(0.8em, 1.2vw, 1.2em);
     margin: 20px 20px;
 }

 #countdown-container {
     text-align: center;
     margin-bottom: 20px;
 }

 #countdown {
     font-family: OCR A Std, monospace;
     font-weight: bold;
     font-size: clamp(3.4em, 6vw, 7em);
     color: #00bfff;
     animation: glowblue 3s infinite alternate;

     background-color: rgba(0, 0, 0, 0);
     display: inline-block;
     padding: 10px 20px;
     border-radius: 10px;
 }

 #fun {
     color: #ffffff;
     font-size: clamp(0.8em, 3vw, 3em);

     animation: glowwhite 3s infinite alternate;
 }